@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

:root {
  --color-body: #fff;
  --color-background: #FBDFDB 100%;
  --color-hover: #D87C72;
  --color-footer: #EEEEEE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  text-align: center;
}

.container {
  max-width: 58.75rem;
  margin: 0 auto ;
}

header {
  display: flex;
  padding: 2.2562rem 0 1.875rem 0;
  align-items: center;
}

header .logo img {
  margin: 0 7.625rem 0 0;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

nav ul li a{
  text-decoration: none;
}

header a {
  font-family: Roboto-Regular;
  font-size: 1rem;
  color: #111111;
  text-decoration: none;
  margin: 0 1.875rem;
}

header nav ul li a:hover {
  color: var(--color-hover);
  font-weight: bold;
  transition: font-weight 100ms, color 300ms;
}

#wrapper {
  background: var(--color-background);
  height: 22.875rem;
  border-radius: 1.875rem;
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 colunas */
}

#wrapper .textbox {
  margin: 7.3125rem 3.75rem;
}

#wrapper .textbox h1 {
  font-family: Roboto-Bold;
  font-size: 2rem;
  color: #111111 100%;
}

#wrapper .textbox p {
  text-align: left;
  font-size: 1.125rem;
  opacity: 0.7;
  font-family: Roboto-Regular;
  color: #000000;
  line-height: 1.75rem;
  padding-top: .625rem;
}

#wrapper .chef {
  margin: auto;
  margin-bottom: 0;
  
}

.mostAccessed {
  
  margin-top: 3.125rem;
  margin-bottom: 1.25rem;
}

h3 {
  text-align: left;
  color: #111111 100%;
  font-size: 1.5rem;
  font-family: Roboto-Bold;
}

.cards {
  max-width: 58.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.25rem;
  cursor: pointer;
}

.card-image img {
  width: 100%;
  border-radius: 1.25rem;
  height: 8.75rem;
}

.card-content {
  margin-top: 1.25rem;
  text-align: left;
}

.title_recipe {
  font-family: Roboto-Regular;
  font-size: 1.125rem;
  color: #111111;
}

.card_chef {
opacity: 0.7;
margin-top: .3125rem;
font-family: Roboto-Regular;
font-size: .875rem;
color: #777777 100%;
}


footer {
  background: var(--color-footer);
  border: 1px solid #eee;
  padding: 1rem;

  margin-top: 21rem;
  text-align: center;
  opacity: 0.8;

  /* display: block; */
  /* position: relative; */

}
/* ========== Page-Sobre ========== */

.layer, .layer2, .layer3 {
  text-align: left;
}
.layer .textbox h1 {
  margin-bottom: 20px;
  font-family: Roboto-Bold;
  font-size: 24px;
  color: #111111;
}

.layer .textbox p {
  text-align: left;
  font-family: Roboto-Regular;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

.layer2 .textbox h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: Roboto-Bold;
  font-size: 20px;
  color: #111111;
}

.layer2 .textbox p {
  text-align: left;
  font-family: Roboto-Regular;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

.layer3 .textbox h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: Roboto-Bold;
  font-size: 20px;
  color: #111111;
}

.layer3 .textbox p {
  font-family: Roboto-Regular;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

/* ========== Recitas ========== */

#wrapper-receitas{
  height: 280px;
}

#wrapper-receitas img{
  border-radius: 15px;
}
