<!-- Crirar pagina de not foud --><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f6f6f6;
            font-family: 'Arial', sans-serif;
        }
        h1 {
            font-size: 50px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>404 Not Found</h1>
</body>
</html>
