<header>
<a href="/" class="logo">
  <img src="/assets/logo.png" alt="Logo">
</a>
<nav>
  <ul>
    <li><a href="/about">Sobre</a></li>
    <li><a href="/recipes">Receitas</a></li>
  </ul>
</nav>
</header>