<header>
  <div class="links">
    <a href="/" class="logo">
      <img src="/assets/logo.png" alt="Logo">
    </a>
    <a href="/about">Sobre</a>
    <a href="/recipes">Receitas</a>
  </div>
</header>